body, html {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  margin: 0;
  color: #898989;
}

.nav {
  text-align: center;
}

.nav li {
  list-style-type: none;
  display: inline;
  font-size: 1.1em;
  padding-left: 1em;
  padding-right: 1em;
}

.nav ul {
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

#title {
  //text-shadow: 0px 2px 20px black;
}

.banner {
  width: 100%;
  padding-top: 8em;
  background-image: url("http://wikitravel.org/upload/shared//a/a6/Bavarian_Alps_Banner.jpg");
  background-attachment: fixed;
  font-weight: 200;
  height: 350px;
  color: white;
  text-align: center;
}

.wrapper {
  position: relative;
  min-height: 100%;
  margin-left: 0;
}


h1 {
  font-weight: 200;
  color: white;
}

.content {
  height: 1000px;
  padding-top: 2em;
}

.content img {
  box-shadow: 2px 2px 10px #AEAEAE;
}

.content hr {
  background: radial-gradient(#AEAEAE 10%, white 80%, #AEAEAE 10%); 
  border: 0;
  height: 1px;
}


.subheading {
  text-transform: uppercase;
  text-align: center;
  color: #898989; 
}

#projects {
  font-weight: 200;
}
#profile {
  padding: 2em;
  //width: 30%;
  margin: 0 auto;
  text-align: justify;
  //border: solid 1px black;
  border-radius: 3px;
  //text-transform: uppercase;
}

#triptic {
  text-align: center;
  padding-top: 3em;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  //height: 200px;
  padding-top: 2em;
  background-color: #2F3034;
  margin-left: 0;
  box-shadow: inset 0px 5px 10px #0D1317;
  color: white;
  text-align: center;
}

.footer li {
  list-style-type: none;
  color: #898989;
}

.footer .subheading {
  padding-bottom: 1em;
}

.links {
  font-size: 2em;
}

.links hr {
  width: 40%;
  margin: 0 auto;
  border: solid 1px #3C3C3C;
}

.links#facebook:hover {
  color: 
}

.social-media {
  font-size: 10em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-top: 1em;
  color: white;
}

#facebook:hover {
  color: #45619D;
}

#github:hover {
  color: black;
}
#google-plus:hover {
  color: #DD4B39;
}

#copyright {
  text-align: center;
  color: #898989;
  margin-top: 1em;
  margin-bottom: 1em;
}
